// main.scss
$primary-color: blue;
$secondary-color: green;



@mixin max-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-col {
    flex-direction: column;
}

@mixin border($width: 1px, $style: solid, $color: black, $rounded: 0px) {
    border: $width $style $color;
    border-radius: $rounded;
}

a {
    text-decoration: none;
}

input {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.radio-container {
    @include flex-col;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;

    div {
        display: flex;
        align-items: center;
    }
}

.green-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-image: linear-gradient(to bottom, #4CAF50, #45a049);

    &:hover {
        background-image: linear-gradient(to bottom, #45a049, #4CAF50);
        box-shadow: 0 6px 12px rgba(49, 210, 17, 0.922);
    }

    &:active {
        transform: translateY(1px);
    }
}

.yellow-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-image: linear-gradient(to bottom, #ffd900, #f4f2a3);

    &:hover {
        background-image: linear-gradient(to bottom, #f4f2a3, #ffd900);
        box-shadow: 0 6px 12px rgb(234, 255, 0);
    }

    &:active {
        transform: translateY(1px);
    }
}

// LIGHT MODE
.light {
    .ProductList {
        .list-line {
            background-color: rgb(255 255 255);
            color: rgb(0 0 0);
        }
    }

    .Navbar {
        background-color: rgb(121, 202, 29);
        padding: 10px;
        @include flex-center;
        gap: 20px;
    }

    .PageTitle {
        @include flex-center;
        width: 100%;

        background-color: #fff;

        h1 {
            color: #000000;
        }
    }
}



// DARK MODE
.dark {
    .ProductList {
        .list-line {
            background-color: rgb(62, 47, 47);
            color: rgb(255 255 255);

        }
    }

    .Navbar {
        background-color: rgb(0, 0, 0);
        padding: 10px;
        @include flex-center;
        gap: 20px;
    }

    .PageTitle {
        @include flex-center;
        width: 100%;

        background-color: #000000;

        h1 {
            color: #fff;
        }
    }
}

// .ProductList {
//     .light {
//         .list-line {
//             background-color: rgb(0 0 0);
//             color: rgb(255 255 255);
//         }
//     }

//     .dark {
//         .list-line {
//             background-color: rgb(255 255 255);
//             color: rgb(0 0 0);
//         }
//     }

// }

.vertical {
    .home-page {
        @include max-container;
        @include flex-center;
        @include flex-col;
        position: relative;
    }

    .fetch-api-demo-page {
        @include max-container;
        @include flex-center;
        @include flex-col;
        position: relative;
    }

    .v-model-demo-page {
        @include max-container;
        @include flex-center;
        @include flex-col;
        position: relative;
    }
}

.horizontal {
    .home-page {
        @include max-container;
        display: flex;
        position: relative;
    }

    .fetch-api-demo-page {
        @include max-container;
        display: flex;
        position: relative;
    }

    .v-model-demo-page {
        @include max-container;
        display: flex;
        position: relative;
    }
}